.home-page {
    .table-container {
        padding: 0 20px;
        // margin-top: 50px;

        .dashboard-table.ant-table-wrapper .ant-table-thead>tr>th {
            color: #edf9fe;
            text-align: center;
        }

        .dashboard-table {
            .ant-table-tbody {
                text-align: center;
            }
        }

        .dashboard-table.ant-table-wrapper .ant-table {
            scrollbar-color: auto;
        }
    }
}

.header-text {
    background-color: #414bb2;
    color: #fff;
    font-size: 20px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.dashboard-table.ant-table-wrapper .ant-table-thead>tr>th {
    color: #edf9fe;
}

.dashboard-table.ant-table-wrapper .ant-table {
    scrollbar-color: auto;
}

.overflow-scroll {
    overflow: auto;
}

.text-capitalize {
    text-transform: capitalize;
}

.ant-tabs-top>.ant-tabs-nav::before {
    border-bottom: 1px solid #b0d2ff;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .overflow-scroll {
        overflow: hidden;
    }
}

.layout-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 2em 1em;
}

.tootip-img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #fff;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.avatar-group .tootip-img+.tootip-img {
    margin-left: -10px;
}

.tootip-img:hover {
    z-index: 3;
    cursor: pointer;
}

.mb-24 {
    margin-bottom: 24px;
}

.ant-card.criclebox {
    box-shadow: 0px 20px 27px #0000000d;
    border-radius: 12px;
}

.ant-card.criclebox .project-ant {
    padding-left: 24px;
    padding-right: 24px;
}

.ant-card.criclebox table th {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.number span {
    font-weight: 600;
    color: #8c8c8c;
    font-size: 14px;
}

.number h3 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 30px;
}

.number h3 small {
    font-weight: 600;
    font-size: 14px;
}

.bnb2 {
    color: #52c41a;
    font-weight: 700;
}

.icon-box {
    width: 48px;
    height: 48px;
    text-align: center;
    background: #1890ff;
    color: #fff;
    border-radius: 0.5rem;
    margin-left: auto;
    line-height: 55px;
}

.icon-box span {
    color: #fff;
    font-size: 24px;
}

.h-full {
    height: 100%;
}

.cardbody .ant-card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.project-ant h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #141414;
}

.project-ant h5 {
    margin: 0px;
    color: #141414;
    font-weight: 700;
}

.project-ant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ant-typography.lastweek {
    color: #8c8c8c;
    font-weight: 600;
}

span.blue {
    margin-left: 5px;
    color: #1890ff;
    font-weight: 600;
}

.antd-pro-pages-dashboard-analysis-style-salesExtra a {
    display: inline-block;
    padding: 7px 10px;
    color: #595959;
    border: 1px solid #d9d9d9;
    text-align: center;
    border-right: 1px solid transparent;
}

.antd-pro-pages-dashboard-analysis-style-salesExtra a:last-child {
    border-right: 1px solid #d9d9d9;
    border-radius: 0px 5px 5px 0px;
}

.antd-pro-pages-dashboard-analysis-style-salesExtra a:first-child {
    border-radius: 5px 0px 0px 5px;
}

.antd-pro-pages-dashboard-analysis-style-salesExtra a:hover {
    color: #1890ff;
    border: 1px solid #1890ff;
}

.antd-pro-pages-dashboard-analysis-style-salesExtra a.active {
    color: #1890ff;
    border: 1px solid #1890ff;
}

.ant-list-box th {
    text-align: left;
    border-bottom: 1px solid #0000000d;
    padding: 8px 0px;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
}

.ant-list-box td {
    text-align: left;
    border-bottom: 1px solid #0000000d;
    padding: 16px 25px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
}

.ant-list-box h5 {
    font-size: 14px;
}

.ant-list-box table tr:hover td {
    background: #fafafa;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.width-100 {
    width: 100%;
}

.avatar-sm {
    width: 25px;
}

.m-10,
.mr-10,
.mx-10 {
    margin-right: 10px !important;
}

.text-xs {
    color: #8c8c8c;
}

.percent-progress span.ant-progress-text {
    display: flex;
    margin-top: -27px;
    color: #8c8c8c;
    position: relative;
    margin-left: 0px;
}

.percent-progress .ant-progress-status-exception .ant-progress-text {
    color: #ff4d4f;
}

.percent-progress .ant-progress-bg {
    height: 3px !important;
}

.uploadfile {
    margin-top: 15px;
}

.uploadfile .ant-upload.ant-upload-select {
    display: block;
}

.uploadfile {
    padding-left: 24px;
    padding-right: 24px;
}

.uploadfile.pb-15 {
    padding-bottom: 16px;
}

.uploadfile.shadow-none .ant-upload.ant-upload-select.ant-upload-select-text .ant-btn.ant-full-box {
    box-shadow: none;
}

.ant-full-box {
    width: 100%;
    border: 1px dashed #d9d9d9;
    padding: 10px;
    height: auto;
    color: #141414;
    border-radius: 10px;
}

button.ant-btn.ant-btn-dashed.ant-full-box svg {
    width: 16px;
    height: 16px;
}

.timeline-box h5 {
    margin-bottom: 0px;
    font-weight: 700;
}

.timelinelist h5 {
    font-size: 14px;
    font-weight: 600;
}

.timelinelist span {
    color: #8c8c8c;
    font-size: 12px;
}

.bar-chart {
    background: transparent linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #0000001f;

    border-radius: 8px;
}

.chart-vistior {
    margin-top: 30px;
}

.chart-vistior h5 {
    margin: 0px;
    font-weight: 700;
}



.chart-visitor-count h4 {
    margin: 0px;
    font-weight: 700;
}

.chart-visitor-count span {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
}

.linechart h5 {
    font-weight: 700;
    margin: 0px;
}

.linechart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-chart line.apexcharts-xaxis-tick {
    stroke: transparent;
}

.full-width path {
    // fill: transparent;
}

@media (max-width: 992px) {
    .project-ant {
        display: block;
    }

    .ant-filtertabs {
        text-align: right;
    }

    .bar-chart {
        width: 100% !important;
        max-width: 100%;
    }

    .full-width {
        max-width: 100% !important;
    }

    .bar-chart {
        width: 100% !important;
    }
}

@media (max-width: 1024px) {
    .bar-chart {
        max-width: 100%;
    }

    .full-width {
        max-width: 100%;
    }
}